<p id="notice"><%= notice %></p>

<p>
  <strong>title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @book.image_url %>
</p>

<p>
  <strong>Price:</strong>
  <%= @book.price %>
</p>
<h2>All Reviews</h2>
<% @book.reviews.each do |review| %>
	<div class="entry">
		<h3><%= review.reviewer %></h3>
		<%= sanitize(review.body) %>
	</div>
<% end %>
<h2>Add a Review:</h2>
<%= form_with(model: [ @book, @book.reviews.build ], local: true) do |form| %>
  <p>
    <%= form.label :reviewer %><br>
    <%= form.text_field :reviewer %>
  </p>
   <p>
    <%= form.label :rating %><br>
    <%= form.number_field :rating %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', catalog_index_path %>
