<p id="notice"><%= notice %></p>
<h1>Your Books Catalog</h1>
<% @books.each do |book| %>
		<div class="entry">
			<%= image_tag(book.image_url) %>
			<h3><%= book.title %></h3>
			<%= sanitize(book.description) %>
			<div class="price_line">
				<span class="price"><%= book.averageRating %></span>
			</div>
			<div class="price_line">
				<h3>Author Name:</h3>
				<p><%= book.author_name %></p>
			</div>
			<div class="price_line">
				<%= link_to 'Show', book %><br/>
			</div>
		</div>
<% end %>

